<h1>THESE ARE {{username}}'s PICTURES!!!</h1>
{{#each gallery}}
<div class="container">
  <form action="/{{../username}}/gallery/{{id}}">
    <button type="submit">{{id}}</button>
  </form>
  <div class="author">{{author}}</div>
  <div class="link">{{link}}</div>
  <div class="description">{{description}}</div>
</div>
{{/each}}
<form action="/{{username}}/gallery/new">
  <button type="submit">Post new picture</button>
</form>
<form action="/{{username}}">
  <button type="submit">Back to your page</button>
</form>
<form action="/main/logout">
  <button type="submit">logout</button>
</form>