{{!-- <h1>THESE ARE INDIVIDUAL PICTURES!!!</h1> --}}
<div class="container">
  <h1>_ARCHITECK</h1>
  {{!-- <div>{{id}}</div> --}}
  <div class="author">{{author}}</div>
  <div class="link">{{link}}</div>
  {{!-- <img src='{{link}}' alt=""> --}}
  <div class="description">{{description}}</div>
</div>