<h1>THESE ARE INDIVIDUAL PICTURES!!!</h1>
<div class="container">
  <div>{{id}}</div>
  <div class="author">{{author}}</div>
  <div class="link">{{link}}</div>
  <div class="description">{{description}}</div>
</div>
<form action="/{{username}}/gallery/{{id}}/edit">
  <button type="submit">edit</button>
</form>
<form action="/{{username}}/gallery/{{id}}/delete?_method=DELETE" method="POST">
  <button type="submit">delete</button>
</form>
